@{
    ViewBag.Title = "Edit Sales Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section plugins{
    <script src="@Url.Content("~/Content/assets/global/plugins/select2/select2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js")" type="text/javascript"></script>


}

@section scripts{
    <script src="@Url.Content("~/Content/assets/global/scripts/metronic.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/admin/layout3/scripts/layout.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/admin/layout3/scripts/demo.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/scripts/datatable.js")" type="text/javascript"></script>
    



}
@section css{
    <link href="@Url.Content("~/Content/assets/global/plugins/select2/select2.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-datepicker/css/datepicker.css")" rel="stylesheet" type="text/css">

    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-datepicker/css/datepicker3.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css">

}

<input type="hidden" id="documentId" value="@ViewBag.id" />

<!-- Begin: life time stats -->
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-basket font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">
                Edit Sales Invoice
            </span>

        </div>

        <div class="actions">
            <a href="javascript:;" data-bind="click:backToList" class="btn btn-default btn-circle">
                <i class="fa fa-angle-left"></i>
                <span class="hidden-480">
                    Back
                </span>
            </a>
        </div>



    </div>
    <div class="portlet-body">

        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="portlet box grey-cascade ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Invoice Details
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>

                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form action="javascript:;" class="form-horizontal form-bordered form-row-stripped">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Client</label>
                                    <div class="col-md-9">
                                        <input type="hidden" id="ddClient" class="form-control select2 input-sm">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Document #</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control input-sm" disabled id="txtDocumentNumber" />

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Date</label>
                                    <div class="col-md-9">
                                        <input class="form-control input-sm" type="text" value="" id="txtTransactionDate" />
                                    </div>
                                </div>

                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
                <div class="portlet grey-cascade box">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Invoice Items
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>

                        </div>
                    </div>
                    <div class="portlet-body form">

                        <div class="form-horizontal form-bordered form-row-stripped">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Product</label>
                                    <div class="col-md-9">
                                        <input type="hidden" id="ddProduct" class="form-control select2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <div class="well" style="margin-bottom: 0 !important">
                                            <div class="row">
                                                <div class="col-md-6 name align-reverse">
                                                    List Price:
                                                </div>
                                                <div class="col-md-5 value" data-bind="text: convertToCurrency(Product.unitPrice())">

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 name align-reverse">
                                                    Unit:
                                                </div>
                                                <div class="col-md-5 value" data-bind="text: Product.uom">

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 name align-reverse">
                                                    Beginning:
                                                </div>
                                                <div class="col-md-5 value" data-bind="text: Product.beginning">

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 name align-reverse">
                                                    Incoming:
                                                </div>
                                                <div class="col-md-5 value" data-bind="text: Product.incoming">

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 name align-reverse">
                                                    Outgoing:
                                                </div>
                                                <div class="col-md-5 value" data-bind="text: Product.outgoing">

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 name align-reverse">
                                                    In Stock:
                                                </div>
                                                <div class="col-md-5 value" data-bind="text: Product.ending">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Unit Price</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control input-sm" id="txtUnitPrice">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Quantity</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control input-sm" id="txtQuantity">
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-10">
                                        @*<button class="btn blue" data-bind="click:addProduct">Add Product</button>
                                        <button class="btn default" data-bind="click:clearProductAdd" aria-hidden="true">Clear</button>*@
                                        <button class="btn blue" data-bind="click:addProduct" style="width:120px;">Add Product</button>
                                        @*<button class="btn yellow" data-bind="click:addProductPost">Add and Post</button>*@
                                        <button class="btn default" data-bind="click:clearProductAdd" style="width:120px;" aria-hidden="true">Clear</button>
                                        <button type="button" class="btn green" style="width:120px;" data-bind="click: function () { updateSalesInvoice() }">Save</button>
                                    </div>
                                </div>
                            </div>

                        </div>




                    </div>
                </div>
            </div>
            
            <div class="col-md-8 col-sm-12">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Product
                                </th>

                                <th>
                                    Unit Price
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Total
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: orderItems">
                            <tr>
                                <td data-bind="text: productName"></td>

                                <td data-bind="text: convertToCurrency(unitPrice)"></td>
                                <td data-bind="text: quantity"></td>

                                <td data-bind="text: convertToCurrency(total)"></td>
                                <td>
                                    <a href="#" class="btn-link" data-bind="click:$parent.removeProduct">remove</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="well">


                            <div class="row static-info align-reverse">
                                <div class="col-md-5 name">
                                    Grand Total:
                                </div>
                                <div class="col-md-5 value" data-bind="text:convertToCurrency(grandTotal())">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12" style="text-align:right !important;">
                    @*<button type="button" class="btn green" data-bind="click: function () { updateSalesInvoice() }">Update</button>
                    <button type="button" data-bind="click:backToList" class="btn ">Cancel</button>*@
                </div>
            </div>
        </div>

    </div>
</div>


<input type="hidden" id="hdnUpdateSalesInvoiceUrl" data-url="@Url.Action("SaveInvoiceTransaction", "Sales", new { area = "Modules" }, null)" />
<input type="hidden" id="hdnGetDocumentDetailsUrl" data-url="@Url.Action("GetSaleById", "Sales", new { area = "Modules" }, null)" />
<input type="hidden" id="hdnGetSalesByIdUrl" data-url="@Url.Action("GetSaleById", "Sales", new { area = "Modules" }, null)" />
<input type="hidden" id="hdnGetAllSalesItemsUrl" data-url="@Url.Action("GetAllSalesItems", "Sales", new { area = "Modules" }, null)" />
<input type="hidden" id="hdnGetAllBranchProductsUrl" data-url="@Url.Action("GetAllBranchProducts", "Sales", new { area = "Modules" }, null)" />
<input type="hidden" id="hdnGetProductUrl" data-url="@Url.Action("GetProduct", "Sales", new { area = "Modules" }, null)" />
<input type="hidden" id="hdnGetClientsForDropDownUrl" data-url="@Url.Action("GetClientsForDropDown", "Sales", new { area = "Modules" }, null)" />
<input type="hidden" id="hdnBackToListUrl" data-url="@Url.Action("BranchSales", "Sales", new { area = "Modules" }, null)" />

<script src="@Url.Content("~/Areas/Modules/Scripts/SalesEdit.js")"></script>

