@{
    ViewBag.Title = "Branch Purchases";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section plugins{
    <script src="@Url.Content("~/Content/assets/global/plugins/select2/select2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js")" type="text/javascript"></script>
}

@section scripts{
    <script src="@Url.Content("~/Content/assets/global/scripts/metronic.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/admin/layout3/scripts/layout.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/admin/layout3/scripts/demo.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/scripts/datatable.js")" type="text/javascript"></script>
    
    <script src="@Url.Content("~/Content/assets/admin/pages/scripts/ui-extended-modals.js")" type="text/javascript"></script>

}
@section css{
    <link href="@Url.Content("~/Content/assets/global/plugins/select2/select2.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-datepicker/css/datepicker.css")" rel="stylesheet" type="text/css">
    
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-datepicker/css/datepicker3.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css">
}
<!-- Begin: Search Parameters -->
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-search font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">Search Parameters</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
            <a href="javascript:;" class="reload">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-horizontal filterContainer" role="form">
            <div class="form-body filterContainer">
                <div class="form-group">
                    <label class="col-md-2 control-labels" style="padding-top:5px;width:12% !important;">Document Num</label>
                    <div class="col-md-4" style="margin-right:90px !important;">
                        <input type="text" class="form-control input-sm" placeholder="Document Number" name="documentNumber" id="documentNumber">
                    </div>
                    <label class="col-md-2 control-labels" style="padding-top:5px;width:12% !important;">Supplier Name</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" placeholder="Supplier Name" name="supplierName" id="supplierName">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-labels" style="padding-top:5px;width:12% !important;">Supplier Code</label>
                    <div class="col-md-4" style="margin-right:90px !important;">
                        <input type="text" class="form-control input-sm" placeholder="Supplier Code" name="supplierCode" id="supplierCode">
                    </div>
                    @*<label class="col-md-2 control-labels" style="padding-top:5px;width:12% !important;">Date Created</label>
                    <div class="col-md-4">
                        <div class="input-group date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                            <input type="text" class="form-control input-sm" name="dateFrom">
                            <span class="input-group-addon input-sm">
                                to
                            </span>
                            <input type="text" class="form-control input-sm" name="dateTo">
                        </div>
                    </div>*@
                    <label class="col-md-2 control-labels" style="padding-top:5px;width:12% !important;">Date Created</label>
                    <div class="col-md-4">
                        <div class="input-group input-daterange" data-date="" data-date-format="mm/dd/yyyy">
                            <input type="text" class="form-control input-sm date-from" name="dateFrom" id="dateFrom">
                            <span class="input-group-addon input-sm">
                                to
                            </span>
                            <input type="text" class="form-control input-sm date-to" name="dateTo" id="dateTo">
                        </div>
                    </div>
                </div>

                
            </div>
            <div class="form-actions" style="padding: 10px 10px 0px 0px !important;">
                <div class="row">
                    <div class="col-md-12" style="text-align: right;">
                        <button type="button" class="btn yellow" id="btnSubmitFilter" data-bind="click: asyncOperation">Submit</button>
                        <button type="button" class="btn red" id="btnResetFilter" data-bind="click: ResetFilter">Reset</button>
                        <input type="button" id="btnExport" class="btn formItem" value="Export" data-bind="click: exportPurchases">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Begin: life time stats -->
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-shopping-cart font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">Branch Purchases Listing</span>
        </div>
        <div class="actions">
            <a id="btnAddNew" data-bind="click:addRow" class="btn btn-default btn-circle">
                <i class="fa fa-plus"></i>
                <span class="hidden-480">
                    New Purchase
                </span>
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-container">
            <div class="alert display-hide alert-danger problemAjax">
                <button class="close" data-close="alert"></button>
                <span>
                    Ajax encountered a problem, Please contact system administrator.
                </span>
            </div>

            <div class="row filterContainer" style="margin-bottom:10px;">

                Page <a data-bind="click:previousPage" class="btn btn-sm default prev" title="Prev"><i class="fa fa-angle-left"></i></a>
                <input type="text" disabled name="page" value="1" data-bind="value:page" class="pagination-panel-input form-control input-mini input-inline input-sm" maxlenght="5" style="text-align:center; margin: 0 5px;">
                <a data-bind="click:nextPage" class="btn btn-sm default next" title="Next"><i class="fa fa-angle-right"></i></a> of <span data-bind="text:pages"></span> | Found total <span data-bind="text:records"></span> records
                <input type="text" id="recordPerPage" name="recordPerPage" value="30" class="hidden" />
            </div>

            <div class="row">
                <div class="table-container" data-bind="loadingWhen: isLoading">
                    <table class="table table-striped table-bordered table-hover table-advance" id="datatable_ajax">
                        <thead>
                            <tr role="row" class="heading">
                                <th width="10%">
                                    Document #
                                </th>
                                <th width="30%">
                                    Supplier Name
                                </th>
                                <th width="15%">
                                    Supplier Code
                                </th>
                                <th width="20%">
                                    Purchase Price
                                </th>
                                <th width="12%">
                                    Date Created
                                </th>
                                <th width="13%">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: documents">
                            <tr>
                                <td data-bind="text:documentNumber"></td>
                                <td data-bind="text: supplierName"></td>
                                <td data-bind="text: supplierCode"></td>
                                <td data-bind="text: convertToCurrency(salesPrice)"></td>
                                <td width="10%" data-bind="text: convertDateTimeFromJson(dateCreated)"></td>
                                <td width="15%">
                                    <a data-bind="click: $parent.editRow" class="btn default btn-xs purple" style="margin-bottom: 2px !important;">
                                        <i class="fa fa-edit"></i> Edit
                                    </a>
                                    <a data-bind="click: $parent.viewProducts" class="btn default btn-xs blue" style="margin-bottom: 2px !important;">
                                        <i class="fa fa-folder-open-o "></i> Products
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="row" style="margin-top:10px;">

                Page <a data-bind="click:previousPage" class="btn btn-sm default prev" title="Prev"><i class="fa fa-angle-left"></i></a>
                <input type="text" disabled name="page" data-bind="value:page" class="pagination-panel-input form-control input-mini input-inline input-sm" maxlenght="5" style="text-align:center; margin: 0 5px;">
                <a data-bind="click:nextPage" class="btn btn-sm default next" title="Next"><i class="fa fa-angle-right"></i></a> of <span data-bind="text:pages"></span> | Found total <span data-bind="text:records"></span> records
            </div>
        </div>
    </div>
</div>
<!-- End: life time stats -->

<div id="ViewProducts" class="modal fade" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" data-bind="text:documentNumber"></h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="scroller" style="height:350px" data-always-visible="1" data-rail-visible="1" data-rail-color="red" data-handle-color="blue">
                    <div class="table-container" data-bind="loadingWhen: isLoadingProducts">
                        <div class="alert display-hide alert-danger problemAjaxProducts">
                            <button class="close" data-close="alert"></button>
                            <span>
                                Ajax encountered a problem, Please contact system administrator.
                            </span>
                        </div>
                        <table class="table table-hover table-light">
                            <thead>
                                <tr class="uppercase">
                                    <th>
                                        Product Desc
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: products">
                                <tr>
                                    <td data-bind="text:productName"></td>
                                    <td data-bind="text:quantity"></td>
                                    <td data-bind="text:convertToCurrency(unitPrice)"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
    </div>
</div>



<input type="hidden" id="hdnGetBranchPurchasesUrl" data-url="@Url.Action("GetAllPurchases", "Purchase", new { area = "Modules" }, null)" />
<input type="hidden" id="hdnExportBranchPurchasesUrl" data-url="@Url.Action("ExportAllPurchases", "Purchase", new { area = "Modules" }, null)" />
<input type="hidden" id="hdnEditPurchaseOrderUrl" data-url="@Url.Action("EditBranchPurchaseOrder", "Purchase", new { area = "Modules" }, null)" />
<input type="hidden" id="hdnAddPurchaseOrderUrl" data-url="@Url.Action("AddBranchPurchaseOrder", "Purchase", new { area = "Modules" }, null)" />
<input type="hidden" id="hdnGetAllPurchaseItemsUrl" data-url="@Url.Action("GetAllPurchaseItems", "Purchase", new { area = "Modules" }, null)" />
<script src="@Url.Content("~/Areas/Modules/Scripts/Purchase.js")"></script>

